
        
        @media (max-width: 600px){
        * {
            box-sizing:border-box;
        }

        body {
            width: 614px;
            background-color: #EEEEEE;
            font-family: 'Roboto', sans-serif;
        }

        h6 {
            font-weight: 700;
            font-size: 16px;
            margin-top: 8px;
            color: #333333;
        }

        p {
            font-weight: 300;
            font-size: 15px;
            color: #A6A6A6;
            margin-top: 5px;
            margin-bottom: 8px;
        }




        .topo{
            height: 92px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: #CF2B2B;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .topo span{
            font-size: 44px;
            color: #FFFFFF;
            margin-left: 21px;
            font-family: 'Righteous', cursive;
        }

        .topo p {
            font-size: 18px;
            font-weight: 400;
            margin-left: 21px;
            margin-top: 5px;
            color: #FFFFFF;
        }

        .conteudo {
            margin-top: 123px;
        }

        .prato {
            height: 258px;
            width: 100%;
            margin-bottom: 27px;
        }

        .prato div {
            display: flex;
        }

        .prato span {
            font-size: 26px;
            font-weight: 400;
            margin-left: 19px;
            color: #333333;
            font-family: 'Righteous', cursive;
        }

        .catalogo {
            height: 216px;
            width: 100%;
            margin: 10px 0;
            overflow: hidden;
            overflow-x: scroll;
        }


        .opcao {
            
            flex-direction: column;
            justify-content: space-between;
            height: 216px;
            width: 172px;
            margin: 0 16px;
            border-radius: 9px;
            padding: 15px 15px;
            background-color: #FFFFFF;
        }

        .opcao img {
            height: 87px;
            width: 144px;
            border-radius: 4px;
        }

        .selecionado {
            box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
        }

        .bebida span {
            font-size: 26px;
            font-weight: 400;
            margin-left: 19px;
            color: #333333;
            font-family: 'Righteous', cursive;
        }

        .bebida div {
            display: flex;
        }

        .sobremesa {
            margin-bottom: 108px;
        }

        .sobremesa div {
            display: flex;
        }

        .sobremesa span {
            font-size: 26px;
            font-weight: 400;
            margin-left: 19px;
            color: #333333;
            font-family: 'Righteous', cursive;
        }

        .barra-inferior {
            height: 92px;
            width: 100%;
            position: fixed;
            left: 0px;
            bottom: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
        }

        
        .botao {
            height: 61px;
            width: 364px;
            background-color: #CBCBCB;
            border-radius: 50px;
        }

        .botao p{
            
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            color: #FFFFFF;
        }

        .fechar-pedido {
            
        }

        

    }